* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Entire File */
html, body {
    background-color: beige;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

/* Heading One */
#heada {
    color: #9cff00;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    display: block;
    background-color: darkslategray;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    padding: 40px;
    z-index: 10;
}

#headb {
    color: orange;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    display: block;
    background-color: #8f4b41;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    padding: 40px;
    z-index: 10;
}

/* Body */
body {
    margin-top: 0px;
}

/* Button */
#aboutj {
    border: none;
    background-color: #9cff00;
    border-radius: 12px;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #222222;
    padding: 6px;
}

#homebutt {
    border: none;
    background-color: orange;
    border-radius: 12px;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #222222;
    padding: 6px;
}


.button-container {
    position: absolute;
    top: 1100px;
    left: 50%;
    transform: translateX(-50%);
    padding: 3%;
}

/* Top image thing */
#cat {
    border-radius: 0px;
    width: 100%;
    height: 200px;
    text-align: center;
    position: relative;
    top: 0px;
}
#dog {
    border-radius: 0px;
    width: 100%;
    height: 200px;
    text-align: center;
    position: relative;
    top: 0px;
}

/* Whole lotta nothin' */
#yapa {
    position: absolute;
    top: 50px;
    left: 0px;
    right: 0px;
    padding: 20%;
    color: #222222;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:100;
}

#yapb {
    position: absolute;
    top: 50px;
    left: 30%;
    right: 0px;
    padding: 20%;
    color: #222222;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:100;
}

#perfection {
    border-radius: 100px;
    aspect-ratio: 1/1.1;
    width: 19%;
    height: auto;
    position: absolute;
    top: 47%;
    right: 0px;
    left: 20%;
}